<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="counter">
        <div th:if="${counter}">
        <div class="containter">
            <div class="counter">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="events">
                            <p class="counter-count">17</p>
                            <p class="event-p"><a href="/events">Events</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="groups">
                            <p class="counter-count">4</p>
                            <p class="groups-p"><a href="/groups">Groups</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="user">
                            <p class="counter-count">25</p>
                            <p class="user-p"><a href="/users">User</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="logged">
                            <p class="counter-count">2</p>
                            <p class="logged-p">Logged in</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>