<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

​<body>
<div th:fragment="list">

    <div th:if="${events}">
        <!--ADD NEW EVENT-->
        <button th:if="${isLogged != null}" data-toggle="collapse" class="btn btn-success" data-target="#createEvent">Add event</button>
        <div id="createEvent" class="collapse">
            <form th:if="${isLogged != null}" method="POST" action="/create/event">
                <input type="text" name="name" value="" placeholder="Name"/>
                <input type="text" name="place" value="" placeholder="Place"/>
                <input type="text" name="descr" value="" placeholder="Description"/>
                <br/>
                <br/>
                <p>Only for this group:</p>
                <select class="btn btn-info" name="groupEvent">
                    <div th:each="group: ${userInGroups}">
                        <option th:value="${group.id}" th:text="${group.name}"></option>
                    </div>
                </select>
                <br/>
                <br/>
                <p>Start time:</p>
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' name="time" class="form-control" required="required"/>
                                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Create it pls"/>
            </form>
        </div>
        <br/>
        <!--END OF ADD NEW EVENT-->

        <!--EVENTLIST-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-8">
                <!--div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2"-->

                    <!-- Fluid width widget -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-calendar"></span> 
                                Upcoming Events
                            </h3>
                        </div>
                        <div th:each="event: ${eventlist}">
                            <div class="panel-body">
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-left">
                                            <!--div class="panel panel-danger text-center date">
                                                <div class="panel-heading month">
                                            <span class="panel-title strong">
                                                Mar
                                            </span>
                                                </div>
                                                <div class="panel-body day text-danger">
                                                    <a th:text="${event.time}"></a>
                                                </div>
                                            </div-->
                                        </div>

                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <a th:text="${event.name}" th:href="'/event/' + ${event.getId()}"></a>
                                            </h4>
                                            <p th:text="${event.description}">
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-default btn-block">More Events »</a>
                    </div>
                    <!-- End fluid width widget -->
                </div>
                <div class="container">
                    <img class="img-responsive" src="/pictures/alter.jpg" width="550" height="334"/>
                </div>
            </div>
        </div>
    </div>

    <!--END OF EVENTS-->

    <!--GROUPS-->
    <div th:if="${groups}">
        <h2>Groups</h2>
        <form th:if="${isLogged != null}" method="POST" action="/create/group">
            <input type="text" name="name" value="" placeholder="Name"/>
            <input type="text" name="descr" value="" placeholder="Description"/>
            <input class="btn btn-success" type="submit" value="New"/>
        </form>
        <div class="list-group">
            <div th:each="group: ${groups}">
                <a th:if="${group.name} != 'everyone'" class="list-group-item list-group-item-action" th:text="${group.name}" th:href="'/group/'+${group.id}"></a>
            </div>
        </div>
    </div>

    <!--USERS-->
    <div th:if="${user}">
        <div class="list-group">
            <h2>Users</h2>
            <div th:each="user: ${users}">
                <a class="list-group-item list-group-item-action" th:text="${user.name}" th:href="'/user/' + ${user.getId()}"></a>
            </div>
        </div>
    </div>

</div>

​

</body>

</html>

​

